<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinTrack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>
    <header class="navbar">
        <div class="logo">FinTrack</div>
        <nav>
            <ul>


                <!-- Hyperlink to Home Page -->
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-controller="Person" asp-action="Index">Persons List</a>
                    </li>
                }
                <li><a asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a></li>

                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <li><span>Welcome, @User.Identity.Name</span></li>
                    <li><a asp-controller="Authentication" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="Authentication" asp-action="Login">Login</a></li>
                }


            </ul>


        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="support-us">
                <h2>Support Us</h2>
                <ul>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Volunteer</a></li>
                    <li><a href="#">Adopt</a></li>
                    @*  <div class="ml-auto">
                    <!-- Add ml-auto to move it to the right -->
                    <partial name="_LoginPartial" />
                </div> *@
                </ul>
            </div>
            <div class="contact-us">
                <h2>Contact Us</h2>
                <ul>
                    <li><a href="tel:0715917245">071 591 7245</a></li>
                    <li><a href="mailto:subhaschandn705@gmail.com">subhaschandn705@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
